---

---

<footer
  class="w-full dark:text-black text-white h-auto min-h-[300px] bg-gradient-to-r from-slate-700 md:via-slate-600 to-gray-600 dark:from-slate-200 dark:md:via-slate-300 dark:to-neutral-400 flex flex-col mt-40 items-center"
>
  <div class="w-full p-2 md:w-[700px] h-full lg:w-[1000px] flex flex-col">
    <h1 class="text-3xl text-center font-bold">
      2025 | No copyright in general
    </h1>
    <div class="flex flex-col md:flex-row mt-10">
      <div class="max-w-[300px]">
        <p class="">
          Non resposability for Planeta110 for copyright or images used.
        </p>
        <a href="https://github.com/Planeta110" class="text-cyan-500 dark:text-cyan-800">https://github.com/Planeta110</a>
        <img src="/profilepicture.png" alt="Github img" class="h-16 w-16 mt-2">
      </div>

      <p class="max-w-[300px]">
        Muchas de las imágenes provienen de SVG Repo, y en teoría algunas son de
        uso público.
      </p>
    </div>
  </div>
</footer>
