---
import "../global.css";
---

<!doctype html>
<html lang="es" class="h-full">
  <head>
    <title>Loading</title>
  </head>
  <body
    class="h-full bg-blue-900 flex flex-col items-center justify-center"
  >
    <main
      class="flex flex-col text-white h-full w-full items-center justify-center"
    >
      <!-- From Uiverse.io by adamgiebl -->
      <section class="dots-container">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
      </section>

      <h1 class="text-center text-3xl mt-10">
        Loading <b
          class="bg-gradient-to-r p-2 rounded-[3px] from-orange-400 to-amber-800"
          >JS</b
        >
      </h1>
    </main>
  </body>
</html>
<style>
  .dots-container {
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .dot {
    height: 20px;
    width: 20px;
    margin-right: 10px;
    border-radius: 10px;
    background-color: #b3d4fc;
    animation: pulse 1.5s infinite ease-in-out;
  }

  .dot:last-child {
    margin-right: 0;
  }

  .dot:nth-child(1) {
    animation-delay: -0.3s;
  }

  .dot:nth-child(2) {
    animation-delay: -0.1s;
  }

  .dot:nth-child(3) {
    animation-delay: 0.1s;
  }

  @keyframes pulse {
    0% {
      transform: scale(0.8);
      background-color: #b3d4fc;
      box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
    }

    50% {
      transform: scale(1.2);
      background-color: #6793fb;
      box-shadow: 0 0 0 10px rgba(178, 212, 252, 0);
    }

    100% {
      transform: scale(0.8);
      background-color: #b3d4fc;
      box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
    }
  }
</style>

<script is:inline>
  window.location.href = "/es/";
</script>
